doctype html
html(lang='en')
    head
        title Testing I
        meta(charset='utf-8')
        meta(name='viewpor'
            ,content='width=device-width,initial-scale=1,maximum-scale=1')
        link(rel='shortcut icon',href='/favicon.ico')
        block link
    body
        #wrapper
            block template
        block script

